{% block head_css %}
{% load staticfiles%}   
    <script src="{% static 'js/jquery.loadie.min.js' %}"></script>
    <link href="{% static 'css/loadie.css' %}"
          rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{% static 'img/favicon-leaf.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon-leaf.ico' %}" type="image/x-icon">
    <link href="{% static 'css/clean-blog.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.css' %}"
          rel="stylesheet" media="screen">
    <!--<link href="{% static 'css/custom.min.css' %}"
          rel="stylesheet" media="screen">-->
    <link href="{% static 'css/custom.css' %}"
          rel="stylesheet" media="screen">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
          rel="stylesheet"> 
    <!---->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
            $(document).ready(function(){
              // Add smooth scrolling to all links
              $("a").on('click', function(event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();
                  // Store hash
                  var hash = this.hash;
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 600, function(){
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });
            });
        </script>
{% endblock %}