{% block head_meta_category %}
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--SEO-->
    <!-- COMMON TAGS -->
    <title>{{ this_category.title }}</title>
    <meta name="keywords" content="">
    <!-- Search Engine -->
    <meta name="description" content="{{ this_category.summary }}">
    <meta name="image" content="http://www.example.com/img.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ this_category.title }}">
    <meta itemprop="description" content="{{ this_category.summary }}">
    <meta itemprop="image" content="http://www.example.com/img.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ this_category.title }}">
    <meta name="twitter:description" content="{{ this_category.summary }}">
    <meta name="twitter:site" content="@lacentralcca">
    <meta name="twitter:creator" content="@lacentralcca">
    <meta name="twitter:image:src" content="http://www.example.com/img.jpg">
    <!-- Twitter - Article -->
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ this_category.title }}">
    <meta name="og:description" content="{{ this_category.summary }}">
    <meta name="og:image" content="http://www.example.com/img.jpg">
    <meta name="og:url" content="http://www.example.com/">
    <meta name="og:site_name" content="{{ this_category.title }}">
    <meta name="og:locale" content="es_mx">
    <meta name="fb:admins" content="100000164856996">
    <meta name="og:type" content="article">
    <!-- Open Graph - Article -->
    <meta name="article:section" content="Organic, Food, Health">
    <meta name="article:author" content="100000164856996">
    <meta name="article:tag" content="health, food, organic">
{% endblock %}