{% block article %}
<div class="container-fluid">
    <div class="row">
        {{ this_post.body|safe }}
    </div>
    <br><br>
    <hr>
    <br><br>
    <div class="row">
        <div class="row" style="padding-bottom:30px;">
           <h3>Articulos Relacionados:</h3>
        </div>
        <div class="row">
          <div class="col-lg-4">
            {% for category_post in category_posts_list %}
            <div class="card mb-3 border-secondary">
                <h3 class="card-header"></h3>
                     <div class="card-body">
                        <h5 class="card-title">
                            <a class="text-muted" href="/posts/{{ category_post.slug }}">
                                {{ category_post.title }}
                            </a>
                        </h5>
                      </div>
                      <center>
                        <a href="/posts/{{ category_post.slug }}">
                            <img style="height: 100px; width: 70%; display: block;" src="{{ category_post.img_cover.url }}" alt="{{ post.title }}">
                        </a>
                      </center>
                      <div class="card-body">
                        <p class="card-text text-justify">{{ category_post.summary|truncatechars:140 }} </p>
                      </div>
                      <div class="card-footer text-muted">
                            {{ category_post.timestamp|date }} - <strong>{{ post.category }}</strong>
                      </div>
            </div>
            {% endfor %}
        </div>
       </div>
    </div>
    <br>
    <hr>
    <br><br>
    <div class="row">
        <div class="container">
                <div id="disqus_thread"></div>
        </div>
            
            <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = 'https://127.0.0.1:8000/posts/{{ this_post.slug }}/';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '/{{ this_post.slug }}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://blog-colectivolacentral-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>              
    </div>
    <br><br><br>
</div>
{% endblock %}
