{% block post_header %}
    <header class="masthead" style="background-image: url('{{ this_post.img_cover.url }}')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
                <center>
                    <br><br><br><br>
                    <h1>{{ this_post.title }}</h1>
                    <h3 class="subheading text-justify">{{ this_post.summary }}</h3>
                    <span class="meta">{{ this_post.timestamp|date }} - <span class="h3"> {{ this_post.category }} </span></span>
                    <br><br><br><br>
                    <div class="bounce">
                        <a href="#article" class="btn btn-secondary my-2 my-sm-0"><i class="fa fa-caret-down"></i>  LEER ARTICULO  <i class="fa fa-caret-down"></i></a>
                    </div>
                </center>
            </div>
            </div>
        </div>
        <div id="article"></div>
        </div>
    </header>
{% endblock %}
<br><br><br><br>